@{
    ViewBag.Title = "Under construction";
}

<div class="container image-container">
    <img src="@Url.Content("~/Content/Images/underconstruction.png")" class="img-responsive" alt="Under Construction" />
</div>
